// @import 'mixins'







body {
    display: flex;
    background: DimGray;
    margin-left: 15%;
    width: 90%;
    
    };



// Content {
//     font-family: 'League Spartan Bold';
//     font-weight:normal;
//     font-style:normal;
    
// }


